
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url(/src/image/bg-body.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-color: #d1e278;
    position: relative;
}

body::after {
    content: url(/src/image/bg-text.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-repeat: no-repeat;
    background-position: right top;
}

.title {
    font-size: 100px;
    color: #082085;
    text-shadow: -4px 4px rgb(23, 58, 203), -3px 3px rgb(13, 42, 159), -2px 2px rgb(43, 76, 206), -1px 1px rgb(125, 147, 239), 0 0 rgba(128, 128, 128, .5), 1px -1px rgba(77, 77, 77, .6), 2px -2px rgba(77, 77, 77, .7), 3px -3px rgba(82, 82, 82, .8), 4px -4px rgba(77, 77, 77, .9), 5px -5px rgba(77, 77, 77, 1);
    font-family: 'Ruslan Display', cursive;
    margin-top: 35px;
}

.tall {
    position: relative;
    left: -150px;
    max-width: 400px;
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    /*min-height: calc(100vh - 145px);*/
    flex: 1;
}

.plan {
    width: 100%;
}

.plan_add {
    display: flex;
    align-items: center;
    position: relative;
}

.plan_title {
    margin-right: 50px;
    font-family: 'Ruslan Display', cursive;
    font-size: 35px;
}

.card_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    max-width: 300px;
    width: 100%;
    margin-top: 30px;
    box-shadow: 2px 2px 14px 3px #2448e1;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 10px 10px 10px;
}

.card_inputbox {
    margin-top: 30px;
}

.input {
    padding: 7px 5px;
    outline: transparent;
    border: transparent;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 2px 2px 14px 3px #2448e1;
    margin-right: 15px;
    position: relative;
    z-index: 1;
    width: 200px;
    /*border: 1px solid red;*/
}

.input:disabled {
    border: 1px solid grey;
}

/*.title_todolist {*/
/*    font-family: 'Ruslan Display', cursive;*/
/*}*/
.input_edit {
    border: none;
    padding: 5px;
    outline: transparent;
    /*border: 1px solid #2448e1;*/
    background-color: rgba(36, 72, 225, 0.18);
    border-radius: 3px;
}

.plans_box {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.error_input {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -15px;
    left: 5px;
}

.btn_add {
    border: none;
    font-family: 'Ruslan Display', cursive;
    color: #082085;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
    box-shadow: 0 0 14px 3px #2448e1;
    border-radius: 3px;
    display: block;
}

.btn_close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Ruslan Display', cursive;
    color: #082085;
}

.btn_close:disabled,
.btn_add:disabled {
    cursor: default;
    color: #808080;
}

.item-box {
    margin-bottom: 18px;
    margin-left: 30px;
}

.item {
    margin-bottom: 18px;
    margin-left: 30px;
    position: relative;
    display: flex;
}

.item_input:before {
    content: url(/src/image/pig.png);
    position: absolute;
    top: -9px;
    left: -30px;
}

.item_active:before {
    content: url(/src/image/pig-active.png);
    position: absolute;
    top: -9px;
    left: -30px;
}

.item_input:after {
    content: url(/src/image/check.png);
    position: absolute;
    top: 4px;
    left: 3px;
    background-color: #dff3fe;
}

.item_active:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 3px;
    width: 14px;
    height: 14px;
    border: 2px solid #765df3;
    border-radius: 3px;
}

.item_btn {
    border: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

.item_btn:disabled:before {
    content: url(/src/image/delete-grey.png);
    cursor: default;
}

.item_editbox {
    flex: 1;
}

.item_btn:before {
    content: url(/src/image/delete.png);
    position: absolute;
    top: 0;
    right: 0;
}

.plan_img:before {
    content: url(/src/image/pigs.png);
    position: absolute;
    top: -40px;
    left: 237px;
}

.card_map {
    flex: 1;
    margin-top: 10px;
}

.btn_box {
    margin: 15px auto;
}

.btn_todolist {
    color: #fff;
    background-color: #765df3;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 900;
}

.btn_todolist + .btn_todolist {
    margin-left: 5px;
}

.footer {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 30px;
}

/*.progress {*/
/*    position: relative;*/
/*    bottom: 50px;*/
/*    width: 100%;*/
/*}*/

.progress {
    position: relative;
    top: 162px;
}

.login_box {
    display: flex;
    justify-content: flex-end;
}

.nik_name,
.logout {
    padding: 3px 5px;
    cursor: pointer;
    font-weight: 700;
}

.nik_name {
    padding: 2px 5px;
    background-color: #ffdcba;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.nik_name::after {
    content: url(/src/image/nikname.png);
    position: absolute;
    top: -67px;
    left: -133px;
    z-index: -1;
}

.logout {
    margin-left: 30px;
    position: relative;
}

.logout::after {
    content: url(/src/image/logout.png);
    position: absolute;
    top: -80px;
    left: -9px;
    z-index: -1;
}

/* styles for login*/
.login_title {
    display: inline-block;
    /*display: block;*/
    /*text-align: right;*/
    color: #082085;
    font-weight: 900;
    margin-left: 10px;
    position: relative;
    top: 2px;
    background-color: white;
    box-shadow: 2px 2px 14px 3px #2448e1;
    border-radius: 5px;
    z-index: -1;
    padding: 2px 10px 10px;
}

.login_formtitle {
    font-family: 'Ruslan Display', cursive;
    color: #05103b;
    font-size: 24px;
}

.login_input_block {
    position: relative;
}

.login_input {
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 14px 3px #2448e1;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    outline: transparent;
    color: #082085;
}

.login_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(169, 167, 238);
    z-index: 1;
}

.login_block {
    box-shadow: 2px 2px 14px 3px #2448e1;
    border-radius: 5px;
    padding: 20px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgb(169, 167, 238);
}

.btn_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_block button {
    width: 100%;
}

/*styles for checkbox in Login form*/
.login_checkbox {
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.login_checkbox input[type="checkbox"] {
    display: none;
}
.login_checkbox_label {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    box-shadow: 2px 2px 14px 3px #2448e1;
    width: 30px;
    height: 30px;
}
.login_checkbox input:checked + .login_checkbox_label::after {
    content: url(/src/image/checkbox.png);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
}


.login_error {
    color: #ff0000;
    position: absolute;
    bottom: -17px;
    font-size: 12px;
    margin-left: 5px;
}

.login_input_error {
    border: 1px solid red;
}

